
.aboutMe{
  position: relative;
  margin-top: 10vh;
  z-index: 0;
}

.imageAboutMe{  
  z-index: 1;
  filter: drop-shadow(#e2e3f4 0.15rem 0.15rem 2px);
  border-radius: 0 0 100px 200px;
  opacity: 0.8;
}

.aboutMe h3{
  font-size: 4rem;
  font-family: 'DM Serif Text', serif;
  z-index: 1;
  color: var(--mainColors);
}

.aboutMe p{
  text-align: justify;
  font-size: 20px;
  z-index: 1;
}

.linksRow{
  padding-top: 20px;
  gap: 35px;
  color: var(--body_color);
}

.iconHeader{
  font-size: 40px;
  color: var(--body_color);

}

.iconHeader:hover{
  color: var(--mainColors);
  transition: all ease-in-out 500ms;
}
