.portfolio-container{
  background-color: var(--background-color);
  width: 100vw;
  height: 800px;
  margin-top: 10vh;
}

.laptop {
  margin-top: 5vh;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%);
  transform: scale(.6) translate(-50%);
  left: 50%;
  position: relative;
  width: 80%;
  min-width: 500px;
  height: min-content;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(85, 85, 85);
  border-width: 24px 24px 80px;
  background-color: rgb(0, 0, 0);
}

.laptop .content {
  width: 100%;
  height: 800px;
  overflow: hidden;
  border: none;
}

.contentStyle{
  width:100%;
  border:none;
  height:100%;
}

.text-container {
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 5px 5vw;
}

.smallText {
  font-size: 20px;
  display: block;
  padding-left: 1vw;
  font-weight: bold;
}

.oldPortStyle{
  font-size: 6rem;
  font-weight: bold;
  left: 0;
  line-height: 1;
  font-family: "Krona One", sans-serif;
  max-width: 100vw;
}

@media (max-width: 1200px) {
  .oldPortStyle{
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .oldPortStyle{
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .oldPortStyle{
    font-size: 2rem;
  }
}

/* Monitor */

.myPro {
  box-sizing: border-box;
  border: 5px solid transparent;
  background-clip: padding-box;
  background-color: #f5f5f50c;
  padding-top: 15px;
  margin: 10px;
  border-radius: 25px;
}

.screen::-webkit-scrollbar {
  width: 10px;
}

.screen::-webkit-scrollbar-thumb {
  background: #FF4500;
}

::-webkit-scrollbar-track {
  background-color: #888;
}

.monitorDiv{
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.iMac {
  width: 350px;
  margin: 30px auto;
}

.iMac h4{
  padding-top: 2vh;
}

.iMac .body {
  height: 230px;
  background: var(--monitor-border);
  border-radius: 5px;
  overflow: hidden;
  position: relative;

}

.iMac .body .screen {
  height: 200px;
  border: 10px solid var(--monitor-border);
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  border-radius: 5px 5px 0px 0px;
  background: var(--body_background);
}

.iMac .body:hover .screen {
  background: #444;
  overflow-y: scroll;
}

.iMac .body .logo {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: var(--mainColors);
  margin: 5px auto 0 auto;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.iMac .stand {
  width: 80px;
  height: 25px;
  background: #aeaeae;
  border: 20px solid var(--body_background);
  border-top: 0;
  border-bottom: 20px solid #c5c5c5;
  border-radius: 5px;
  box-shadow: 0px 4px 0px -2px #909090;
  margin: 0 auto;
}


.imgPro {
  max-width: fit-content;
  max-width: 350px;
}

.linkPro {
  color: #FF4500;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
}

.text-div{
  border-radius: 25px;
  background: var(--pro_bg);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  height: fit-content;
  z-index: 0;
}

.text-div .topic{
  font-size: 1.7rem;
  font-family: "oxygen", sans-serif;
}

.smartphone{
  border: 10px solid var(--monitor-border);
  margin-bottom: 2vh;
  border-radius: 5px;
  min-width: 200px;
}

.mobileImage{
  object-fit: cover;
  max-width: 100%;
  min-width: 200px;
  padding: 10px;
  background-color: rgb(0, 0, 58);
}

.projectLinksRow{
  padding-top: 10px;
  display: flex;
}

.links{
  padding-left: 10px;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
}

.videoClass {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.video-container {
  max-height: 100vh;
  max-width: 100%;
}

.modelBody {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

.custom-modal .modal-content {
  width: 100%;
  height: 100%;
  max-width: max-content;
  max-height: 100vh;
  left: 5vw;
}

.viewMoreLink{
  color: var(--body_color) !important;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--pro_bg);
  border-radius: 25px;
}

.viewMoreLink:hover {
  transition: all ease-in-out 300ms;
  border: 1px solid var(--mainColors);
}

.arrowRight {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  transition: transform ease-in-out 300ms;
}

.otherProjectsSubTopic{
  font-weight: 400;
  font-size: 1.7rem;
  font-family: "Krona One";
  padding: 10px 40px;
  margin-left: 2vw;
}

.closeButton{
  position: absolute;
  top: 5px;
  z-index: 10;
  right: 5px;
}