.App{
  background-color: var(--body_background);
  color: var(--body_color);
  max-width: 100vw;
  overflow: hidden;
}

.modeIcon{
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  padding-bottom: 2vh;
}
